body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
}
/*

Navigation Bar

*/
.nav-bar {
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 10px 5px rgba(12, 12, 12, 0.1);
  vertical-align: middle;
}

.logo {
  width: 5rem;
}

/*

Links

*/
a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
a:hover {
  color: #5900cf;
}

/*

Search Bar

*/

.material-symbols-outlined.search {
  color: #8b8c8e;
}

#search-space {
  background-color: #f7f9fa;
  border: 1px #48494b solid;
  padding: 10px;
  display: flex;
  width: auto;
  border-radius: 50px;
  gap: 10px;
  align-items: flex-start;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-input {
  width: 100%;
  background-color: #f7f9fa;
  outline: none;
  border: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.material-symbols-outlined.cart {
  color: #1c1d1f;
}
.material-symbols-outlined.cart:hover {
  color: #5900cf;
  cursor: pointer;
}

/*

Login-Signin-lang buttons

*/
.login-btn,
.signin-btn {
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px black solid;
  margin: -5px;
  white-space: nowrap;
}

.login-btn {
  background-color: white;
}
.signin-btn {
  background-color: black;
  color: white;
}
/*
span {
  display: inline-block;
  width: auto;
}
*/
.lang-btn {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 6px;
  margin: -5px;
  background-color: white;
  border: 1px black solid;
}
.login-btn:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}
.signin-btn:hover {
  cursor: pointer;
}
.lang-btn:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}

.material-symbols-outlined.list {
  display: none;
}
/*

Card and Clock

*/

header {
  margin: 0px auto;
  width: 80%;
  max-width: 100rem;
}

.clock-note {
  background-color: #f8f9fb;
  padding: 50px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.clock-note .note {
  background-color: white;
  padding: 2%;
  width: 30%;
  height: auto;
  box-shadow: 1px 2px 10px 4px rgba(12, 12, 12, 0.1);
}
.note-headline,
.coures-headline,
.intro-headline {
  margin: 0 0 15px 0;
  font-size: 2rem;
}
.note-description,
.course-description,
.intro-description {
  margin: 0 0 10px 0;
}
.clock-note .clock {
  width: 12em;
  height: 12em;
  position: relative;
  right: 20%;
}

/*

list of tabs;

*/

ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

li {
  color: #8b8c8e;
  font-weight: bold;
  font-size: 1rem;
}

.python {
  color: black;
}

li:hover {
  cursor: pointer;
  color: black;
}

li:active {
  color: black;
}
/*


Cards container


*/

.header-container {
  max-width: 70%;
  min-width: 20%;
}

.card-container {
  border: 1px black solid;
  padding: 10px 20px;
  margin-top: 10px;
}

.explore-btn {
  background-color: white;
  border: 1px black solid;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0;
}

.explore-btn:hover {
  background-color: #f7f9fa;
  cursor: pointer;
}

/*

Cards

*/

.courses-container {
  display: flex;
  gap: 15px;
}

.card {
  width: 15rem;
  border: none;
}
.card-image {
  width: 15rem;
}
.card-image img {
  width: 100%;
}
.card-title h3 {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card-title p {
  font-size: 0.75rem;
  color: #8b8c8e;
  margin-bottom: 5px;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  vertical-align: middle;
}
.rating .total-rate {
  color: #b4690f;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
}
.fa-star::before,
.fa-star-half-full::before {
  font-size: 14px;
  color: #e59819;
}
.total-rate {
  margin-right: 5px;
}
.no-of-ratings {
  color: #8b8c8e;
  margin-left: 5px;
  font-size: small;
}

/*

  price

*/

.courses-price {
  display: flex;
  align-items: flex-start;
}
.new-price {
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}
.discount {
  display: inline;
  font-size: 1rem;
  text-decoration: line-through;
  color: #8b8c8e;
}

.card:hover {
  cursor: pointer;
  color: #8b8c8e;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

/*

  spacing

*/

.spacing {
  width: 200px;
  height: 200px;
}

/*

  Small Screen

*/
@media screen and (max-width: 800px) {
  /*Nav Bar*/
  .nav-bar,
  .material-symbols-outlined.list {
    display: flex;
    flex-direction: row-reverse;
  }
  #search-space,
  button,
  .lang-btn,
  .material-symbols-outlined.cart,
  .removable-links {
    display: none;
  }

  /*Header*/
  .clock-note .clock {
    position: static;
  }
  .clock-note {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 3% 0 0 0;
  }
  .clock-note .note {
    box-shadow: none;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  /*Cards*/
  .card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2%;
  }

  .card-image {
    min-width: 10rem;
  }
  .rating {
    flex-wrap: nowrap;
  }
  .card-container {
    min-width: 400px;
  }
}
